nodered/.flows.json.backup
[
    {
        "id": "9f71a4ca83e0be1b",
        "type": "tab",
        "label": "Create DB Table",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "853989b43beb79a4",
        "type": "tab",
        "label": "Demo: Insert test-data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Telegram-Bot",
        "disabled": false,
        "info": ""
    },
    {
        "id": "55cdbbae8fc6c215",
        "type": "tab",
        "label": "MQTT-Handling",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "55bc388994a74c02",
        "type": "MySQLdatabase",
        "name": "MariaDB_weather",
        "host": "mariadb.default.svc.cluster.local",
        "port": "3306",
        "db": "weather",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "d880f4faf167b53f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mq.jreichwald.de",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ef17bc93ad5a76a8",
        "type": "telegram bot",
        "botname": "LYD",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "aaaaebd82a7f4306",
        "type": "chatbot-telegram-node",
        "botname": "LYD",
        "usernames": "",
        "polling": "1000",
        "store": "",
        "log": "",
        "debug": true,
        "skipMediaFiles": false,
        "webHook": "",
        "connectMode": "polling",
        "storeMessages": true,
        "enableMissionControl": false,
        "inspectMessages": true,
        "chatbotId": ""
    },
    {
        "id": "da73d63f75522f05",
        "type": "telegram bot",
        "botname": "Test",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "174dd4ef3448faf4",
        "type": "inject",
        "z": "9f71a4ca83e0be1b",
        "name": "on startup",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "72f448f16ad80fdf"
            ]
        ]
    },
    {
        "id": "2cb819b933614b67",
        "type": "mysql",
        "z": "9f71a4ca83e0be1b",
        "mydb": "55bc388994a74c02",
        "name": "MariaDB",
        "x": 460,
        "y": 140,
        "wires": [
            [
                "94bfc0a0fe7f9c4b"
            ]
        ]
    },
    {
        "id": "221ba212abb0692a",
        "type": "comment",
        "z": "9f71a4ca83e0be1b",
        "name": "README",
        "info": "Die Datenbanktabelle muss angelegt werden. \nHierzu muss eine beliebige Node in Node-RED ca. 60 Sekunden nach Start der MariaDB verschoben werden. \nDann kann per Klick auf \"Übernahme (deploy)\" die Datenbank initialisiert werden.",
        "x": 160,
        "y": 60,
        "wires": []
    },
    {
        "id": "4555243f381dd53b",
        "type": "debug",
        "z": "9f71a4ca83e0be1b",
        "name": "errors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "daa1fd65d36f5990",
        "type": "mysql",
        "z": "9f71a4ca83e0be1b",
        "mydb": "55bc388994a74c02",
        "name": "MariaDB",
        "x": 460,
        "y": 200,
        "wires": [
            [
                "4555243f381dd53b"
            ]
        ]
    },
    {
        "id": "94bfc0a0fe7f9c4b",
        "type": "function",
        "z": "9f71a4ca83e0be1b",
        "name": "SELECT",
        "func": "msg.topic = \"SELECT * FROM data ORDER BY datetime DESC LIMIT 0;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 200,
        "wires": [
            [
                "daa1fd65d36f5990"
            ]
        ]
    },
    {
        "id": "72f448f16ad80fdf",
        "type": "function",
        "z": "9f71a4ca83e0be1b",
        "name": "CREATE TABLE",
        "func": "msg.topic = `CREATE TABLE IF NOT EXISTS data (datetime datetime, temp decimal(4,1), humidity int);`;\nmsg.topic = `ALTER TABLE data MODIFY temp DECIMAL(4,1);`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 140,
        "wires": [
            [
                "2cb819b933614b67"
            ]
        ]
    },
    {
        "id": "80dbcfb5f2161f30",
        "type": "inject",
        "z": "853989b43beb79a4",
        "name": "on startup",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "0e9153550d1b2be3"
            ]
        ]
    },
    {
        "id": "1b1820eba2eadff8",
        "type": "mysql",
        "z": "853989b43beb79a4",
        "mydb": "55bc388994a74c02",
        "name": "MariaDB",
        "x": 400,
        "y": 120,
        "wires": [
            [
                "49b93d89ca8d8128"
            ]
        ]
    },
    {
        "id": "ec44d8eb7f5a689a",
        "type": "debug",
        "z": "853989b43beb79a4",
        "name": "inserted values",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 180,
        "wires": []
    },
    {
        "id": "8a0677ea96659b9d",
        "type": "mysql",
        "z": "853989b43beb79a4",
        "mydb": "55bc388994a74c02",
        "name": "MariaDB",
        "x": 400,
        "y": 180,
        "wires": [
            [
                "ec44d8eb7f5a689a"
            ]
        ]
    },
    {
        "id": "49b93d89ca8d8128",
        "type": "function",
        "z": "853989b43beb79a4",
        "name": "SELECT",
        "func": "msg.topic = \"SELECT * FROM data ORDER BY datetime DESC LIMIT 1;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 180,
        "wires": [
            [
                "8a0677ea96659b9d"
            ]
        ]
    },
    {
        "id": "0e9153550d1b2be3",
        "type": "function",
        "z": "853989b43beb79a4",
        "name": "INSERT",
        "func": "var temp = Math.random() * 45 - 10;\nvar humidity = Math.floor(Math.random() * 101);\n\nmsg.topic = `INSERT INTO data (datetime, temp, humidity) VALUES (UTC_TIMESTAMP(), ${temp}, ${humidity})`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 120,
        "wires": [
            [
                "1b1820eba2eadff8"
            ]
        ]
    },
    {
        "id": "6313927fc02cfb67",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 60,
        "wires": []
    },
    {
        "id": "907c3fc70c715815",
        "type": "chatbot-telegram-send",
        "z": "f6f2187d.f17ca8",
        "bot": "aaaaebd82a7f4306",
        "botProduction": "",
        "track": false,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 0,
        "x": 710,
        "y": 200,
        "wires": []
    },
    {
        "id": "c3167f1ccf1a67c1",
        "type": "chatbot-message",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "message": [
            {
                "message": "{{payload.sensor}} - {{payload.temperature}} C ° s"
            }
        ],
        "language": "none",
        "x": 530,
        "y": 200,
        "wires": [
            [
                "907c3fc70c715815"
            ]
        ]
    },
    {
        "id": "fee1f8d519c0059b",
        "type": "chatbot-telegram-receive",
        "z": "f6f2187d.f17ca8",
        "bot": "aaaaebd82a7f4306",
        "botProduction": "aaaaebd82a7f4306",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "4ffd4d8815f4acb6",
                "9ff27cb3f6af3d1e"
            ]
        ]
    },
    {
        "id": "97322ec063f560b6",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "LM35/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "d880f4faf167b53f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 60,
        "wires": [
            [
                "ce088101b63f5987",
                "96e8f86f9889cad6"
            ]
        ]
    },
    {
        "id": "9ff27cb3f6af3d1e",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "msg.payload = flow.get(\"mydata\");\n\n\nnode.warn(msg.payload);\n\n\n//node.warn(flow.get(\"mydata\"));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 280,
        "wires": [
            [
                "c3167f1ccf1a67c1"
            ]
        ]
    },
    {
        "id": "ce088101b63f5987",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 120,
        "wires": []
    },
    {
        "id": "96e8f86f9889cad6",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 2",
        "func": "flow.set(\"mydata\",\"\");\nflow.set(\"mydata\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 40,
        "wires": [
            [
                "6313927fc02cfb67"
            ]
        ]
    },
    {
        "id": "4ffd4d8815f4acb6",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 220,
        "y": 340,
        "wires": []
    },
    {
        "id": "865300ebb2bcc2e8",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 280,
        "wires": [
            [
                "9ff27cb3f6af3d1e"
            ]
        ]
    },
    {
        "id": "07ceb05b0b1195ea",
        "type": "mqtt in",
        "z": "55cdbbae8fc6c215",
        "name": "",
        "topic": "LM35/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "d880f4faf167b53f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "691837b0c886006e",
                "6239720a629f32fb"
            ]
        ]
    },
    {
        "id": "691837b0c886006e",
        "type": "debug",
        "z": "55cdbbae8fc6c215",
        "name": "MQTT payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 140,
        "wires": []
    },
    {
        "id": "45c7522ecbb427e6",
        "type": "mysql",
        "z": "55cdbbae8fc6c215",
        "mydb": "55bc388994a74c02",
        "name": "MariaDB",
        "x": 440,
        "y": 200,
        "wires": [
            [
                "8e411fc65978e445"
            ]
        ]
    },
    {
        "id": "2e338baa79d4d15b",
        "type": "debug",
        "z": "55cdbbae8fc6c215",
        "name": "inserted values",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 260,
        "wires": []
    },
    {
        "id": "b0638143c9a50bbd",
        "type": "mysql",
        "z": "55cdbbae8fc6c215",
        "mydb": "55bc388994a74c02",
        "name": "MariaDB",
        "x": 440,
        "y": 260,
        "wires": [
            [
                "2e338baa79d4d15b"
            ]
        ]
    },
    {
        "id": "8e411fc65978e445",
        "type": "function",
        "z": "55cdbbae8fc6c215",
        "name": "SELECT",
        "func": "msg.topic = \"SELECT * FROM data ORDER BY datetime DESC LIMIT 1;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 260,
        "wires": [
            [
                "b0638143c9a50bbd"
            ]
        ]
    },
    {
        "id": "6239720a629f32fb",
        "type": "function",
        "z": "55cdbbae8fc6c215",
        "name": "INSERT",
        "func": "var temp = msg.payload.temperature;\n\n// da es keinen Feuchtigkeitssensor gibt, Werte simulieren\nvar humidity = Math.floor(Math.abs(msg.payload.temperature)) + 25;\n\nif (humidity > 100) {\n    humidity = humidity - 25;\n}\n\nmsg.topic = `INSERT INTO data (datetime, temp, humidity) VALUES (UTC_TIMESTAMP(), ${temp}, ${humidity})`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 200,
        "wires": [
            [
                "45c7522ecbb427e6"
            ]
        ]
    }
]