nodered/.flows.json.backup
[
    {
        "id": "9f71a4ca83e0be1b",
        "type": "tab",
        "label": "Create DB Table",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "853989b43beb79a4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "55bc388994a74c02",
        "type": "MySQLdatabase",
        "name": "MariaDB_weather",
        "host": "mariadb.default.svc.cluster.local",
        "port": "3306",
        "db": "weather",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "1fde2a06d68ffe10",
        "type": "debug",
        "z": "9f71a4ca83e0be1b",
        "name": "output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 60,
        "wires": []
    },
    {
        "id": "174dd4ef3448faf4",
        "type": "inject",
        "z": "9f71a4ca83e0be1b",
        "name": "on startup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE IF NOT EXISTS data (datetime datetime, temp decimal(3,1), humidity int);",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "2cb819b933614b67"
            ]
        ]
    },
    {
        "id": "2cb819b933614b67",
        "type": "mysql",
        "z": "9f71a4ca83e0be1b",
        "mydb": "55bc388994a74c02",
        "name": "MariaDB",
        "x": 300,
        "y": 60,
        "wires": [
            [
                "1fde2a06d68ffe10"
            ]
        ]
    },
    {
        "id": "d77f245adec80f27",
        "type": "inject",
        "z": "853989b43beb79a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 180,
        "wires": [
            []
        ]
    }
]