nodered/flows.json
[
    {
        "id": "9f71a4ca83e0be1b",
        "type": "tab",
        "label": "Create DB Table",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "853989b43beb79a4",
        "type": "tab",
        "label": "Demo: Insert test-data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Telegram-Bot",
        "disabled": false,
        "info": ""
    },
    {
        "id": "55cdbbae8fc6c215",
        "type": "tab",
        "label": "MQTT-Handling",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "60a563125e5b0d46",
        "type": "subflow",
        "name": "/temperature",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "9ff27cb3f6af3d1e"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "0f8381518f6a674a",
        "type": "subflow",
        "name": "location",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 120,
                "wires": [
                    {
                        "id": "f401c8a661d79efc"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "48c7bb8cccf54c05",
        "type": "subflow",
        "name": "/openwindow",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "b51f61187c21987d"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "398b474e6e30f016",
        "type": "subflow",
        "name": "/closewindow",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "22953d7cd7fbf754"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "80147cce57e9dcd0",
        "type": "group",
        "z": "f6f2187d.f17ca8",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "6313927fc02cfb67",
            "97322ec063f560b6",
            "96e8f86f9889cad6",
            "f3547f6542d13146",
            "de5a47c221b90108"
        ],
        "x": 14,
        "y": 19,
        "w": 592,
        "h": 162
    },
    {
        "id": "55bc388994a74c02",
        "type": "MySQLdatabase",
        "name": "MariaDB_weather",
        "host": "mariadb.default.svc.cluster.local",
        "port": "3306",
        "db": "weather",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "d880f4faf167b53f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mq.jreichwald.de",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "aaaaebd82a7f4306",
        "type": "chatbot-telegram-node",
        "botname": "LYD",
        "usernames": "",
        "polling": "1000",
        "store": "",
        "log": "",
        "debug": false,
        "skipMediaFiles": false,
        "webHook": "",
        "connectMode": "polling",
        "storeMessages": true,
        "enableMissionControl": false,
        "inspectMessages": true,
        "chatbotId": ""
    },
    {
        "id": "22a62ba4f56ec442",
        "type": "comment",
        "z": "60a563125e5b0d46",
        "name": "/temperature: Zuletzt empfangene Temperatur des Sensors wird versendet",
        "info": "",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "9ff27cb3f6af3d1e",
        "type": "function",
        "z": "60a563125e5b0d46",
        "name": "getBuffer",
        "func": "msg.payload = flow.get(\"mydata\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 120,
        "wires": [
            [
                "c3167f1ccf1a67c1"
            ]
        ]
    },
    {
        "id": "c3167f1ccf1a67c1",
        "type": "chatbot-message",
        "z": "60a563125e5b0d46",
        "name": "",
        "message": [
            {
                "message": "Am Sensor {{payload.sensor}} wurden zuletzt {{payload.temperature}}°C gemessen."
            }
        ],
        "language": "none",
        "x": 330,
        "y": 120,
        "wires": [
            [
                "8e43617c3908417e"
            ]
        ]
    },
    {
        "id": "8e43617c3908417e",
        "type": "chatbot-telegram-send",
        "z": "60a563125e5b0d46",
        "bot": "aaaaebd82a7f4306",
        "botProduction": "",
        "track": false,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 0,
        "x": 490,
        "y": 120,
        "wires": []
    },
    {
        "id": "53b95bb914686140",
        "type": "comment",
        "z": "0f8381518f6a674a",
        "name": "Standort: Wetter am Standort wird per API abgerufen und versendet",
        "info": "",
        "x": 420,
        "y": 80,
        "wires": []
    },
    {
        "id": "f401c8a661d79efc",
        "type": "function",
        "z": "0f8381518f6a674a",
        "name": "getWeatherApiUrl",
        "func": "//node.warn(msg.payload)\n\nvar lat = msg.payload.content.latitude;\nvar lon = msg.payload.content.longitude;\nvar api_key = \"aa0e26096b13caf4085d934cb5b39c37\"\nvar units = \"metric\"\nvar lang = \"de\"\n\nmsg.payload = `lat: ${lat}, lon: ${lon}`\nmsg.url = `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lon}&appid=${api_key}&units=${units}&lang=${lang}`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 120,
        "wires": [
            [
                "0749ca457322c3ad"
            ]
        ]
    },
    {
        "id": "0749ca457322c3ad",
        "type": "http request",
        "z": "0f8381518f6a674a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 120,
        "wires": [
            [
                "fea74dddaad97ab2"
            ]
        ]
    },
    {
        "id": "fea74dddaad97ab2",
        "type": "json",
        "z": "0f8381518f6a674a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 120,
        "wires": [
            [
                "b76cf9dd08540fbf"
            ]
        ]
    },
    {
        "id": "37bd1fd47766db0e",
        "type": "chatbot-message",
        "z": "0f8381518f6a674a",
        "name": "",
        "message": [
            {
                "message": "Das Wetter in {{payload.name}} ist: {{payload.weather}} bei {{payload.temp}}°C und {{payload.humidity}}% Luftfeuchtigkeit."
            }
        ],
        "language": "none",
        "x": 370,
        "y": 180,
        "wires": [
            [
                "0d3688b494059eca"
            ]
        ]
    },
    {
        "id": "b76cf9dd08540fbf",
        "type": "function",
        "z": "0f8381518f6a674a",
        "name": "getWeather",
        "func": "msg.payload.temp = Math.round(msg.payload.main.temp);\nmsg.payload.humidity = msg.payload.main.humidity;\nmsg.payload.weather = msg.payload.weather[0].description;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 180,
        "wires": [
            [
                "37bd1fd47766db0e"
            ]
        ]
    },
    {
        "id": "0d3688b494059eca",
        "type": "chatbot-telegram-send",
        "z": "0f8381518f6a674a",
        "bot": "aaaaebd82a7f4306",
        "botProduction": "",
        "track": false,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 0,
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "b51f61187c21987d",
        "type": "function",
        "z": "48c7bb8cccf54c05",
        "name": "SELECT",
        "func": "msg.topic = \"SELECT status FROM servo;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 60,
        "wires": [
            [
                "3f2ac5be864f9de0"
            ]
        ]
    },
    {
        "id": "3f2ac5be864f9de0",
        "type": "mysql",
        "z": "48c7bb8cccf54c05",
        "mydb": "55bc388994a74c02",
        "name": "MariaDB",
        "x": 320,
        "y": 60,
        "wires": [
            [
                "10ea3903d939c3f5"
            ]
        ]
    },
    {
        "id": "10ea3903d939c3f5",
        "type": "switch",
        "z": "48c7bb8cccf54c05",
        "name": "",
        "property": "payload[0].status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "c11024a7f95530bb"
            ],
            [
                "767b3f68c1e07443"
            ]
        ]
    },
    {
        "id": "c11024a7f95530bb",
        "type": "function",
        "z": "48c7bb8cccf54c05",
        "name": "UPDATE",
        "func": "msg.topic = \"UPDATE servo SET status = 1;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 140,
        "wires": [
            [
                "8847f5f013e67f5f"
            ]
        ]
    },
    {
        "id": "4cbedc2f111f21d4",
        "type": "chatbot-message",
        "z": "48c7bb8cccf54c05",
        "name": "Fenster wird geöffnet",
        "message": [
            {
                "message": "Das Fenster wird geöffnet."
            }
        ],
        "language": "none",
        "x": 580,
        "y": 140,
        "wires": [
            [
                "907c3fc70c715815"
            ]
        ]
    },
    {
        "id": "767b3f68c1e07443",
        "type": "chatbot-message",
        "z": "48c7bb8cccf54c05",
        "name": "Fenster ist bereits geöffnet",
        "message": [
            {
                "message": "Das Fenster ist bereits geöffnet."
            }
        ],
        "language": "none",
        "x": 320,
        "y": 180,
        "wires": [
            [
                "907c3fc70c715815"
            ]
        ]
    },
    {
        "id": "8847f5f013e67f5f",
        "type": "mysql",
        "z": "48c7bb8cccf54c05",
        "mydb": "55bc388994a74c02",
        "name": "MariaDB",
        "x": 400,
        "y": 140,
        "wires": [
            [
                "4cbedc2f111f21d4"
            ]
        ]
    },
    {
        "id": "907c3fc70c715815",
        "type": "chatbot-telegram-send",
        "z": "48c7bb8cccf54c05",
        "bot": "aaaaebd82a7f4306",
        "botProduction": "",
        "track": false,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 0,
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "22953d7cd7fbf754",
        "type": "function",
        "z": "398b474e6e30f016",
        "name": "SELECT",
        "func": "msg.topic = \"SELECT status FROM servo;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 60,
        "wires": [
            [
                "0fb4d8048461d5f8"
            ]
        ]
    },
    {
        "id": "0fb4d8048461d5f8",
        "type": "mysql",
        "z": "398b474e6e30f016",
        "mydb": "55bc388994a74c02",
        "name": "MariaDB",
        "x": 320,
        "y": 60,
        "wires": [
            [
                "21ce4f2ea039eb12"
            ]
        ]
    },
    {
        "id": "54eb7ae119f50bd4",
        "type": "function",
        "z": "398b474e6e30f016",
        "name": "UPDATE",
        "func": "msg.topic = \"UPDATE servo SET status = 0;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 140,
        "wires": [
            [
                "813d8f9b780cdf0c"
            ]
        ]
    },
    {
        "id": "7442b15628518dc1",
        "type": "chatbot-message",
        "z": "398b474e6e30f016",
        "name": "Fenster ist bereits geschlossen",
        "message": [
            {
                "message": "Das Fenster ist bereits geschlossen."
            }
        ],
        "language": "none",
        "x": 330,
        "y": 180,
        "wires": [
            [
                "e9e409c2e2fe0286"
            ]
        ]
    },
    {
        "id": "813d8f9b780cdf0c",
        "type": "mysql",
        "z": "398b474e6e30f016",
        "mydb": "55bc388994a74c02",
        "name": "MariaDB",
        "x": 400,
        "y": 140,
        "wires": [
            [
                "4e9b71ff496383dd"
            ]
        ]
    },
    {
        "id": "21ce4f2ea039eb12",
        "type": "switch",
        "z": "398b474e6e30f016",
        "name": "",
        "property": "payload[0].status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "54eb7ae119f50bd4"
            ],
            [
                "7442b15628518dc1"
            ]
        ]
    },
    {
        "id": "4e9b71ff496383dd",
        "type": "chatbot-message",
        "z": "398b474e6e30f016",
        "name": "Fenster wird geschlossen",
        "message": [
            {
                "message": "Das Fenster wird geschlossen."
            }
        ],
        "language": "none",
        "x": 590,
        "y": 140,
        "wires": [
            [
                "e9e409c2e2fe0286"
            ]
        ]
    },
    {
        "id": "e9e409c2e2fe0286",
        "type": "chatbot-telegram-send",
        "z": "398b474e6e30f016",
        "bot": "aaaaebd82a7f4306",
        "botProduction": "",
        "track": false,
        "passThrough": false,
        "errorOutput": false,
        "outputs": 0,
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "174dd4ef3448faf4",
        "type": "inject",
        "z": "9f71a4ca83e0be1b",
        "name": "on startup",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "72f448f16ad80fdf"
            ]
        ]
    },
    {
        "id": "2cb819b933614b67",
        "type": "mysql",
        "z": "9f71a4ca83e0be1b",
        "mydb": "55bc388994a74c02",
        "name": "MariaDB",
        "x": 460,
        "y": 140,
        "wires": [
            [
                "94bfc0a0fe7f9c4b"
            ]
        ]
    },
    {
        "id": "221ba212abb0692a",
        "type": "comment",
        "z": "9f71a4ca83e0be1b",
        "name": "README",
        "info": "Die Datenbanktabelle muss angelegt werden. \nHierzu muss eine beliebige Node in Node-RED ca. 60 Sekunden nach Start der MariaDB verschoben werden. \nDann kann per Klick auf \"Übernahme (deploy)\" die Datenbank initialisiert werden.",
        "x": 160,
        "y": 60,
        "wires": []
    },
    {
        "id": "4555243f381dd53b",
        "type": "debug",
        "z": "9f71a4ca83e0be1b",
        "name": "errors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "daa1fd65d36f5990",
        "type": "mysql",
        "z": "9f71a4ca83e0be1b",
        "mydb": "55bc388994a74c02",
        "name": "MariaDB",
        "x": 460,
        "y": 200,
        "wires": [
            [
                "4555243f381dd53b"
            ]
        ]
    },
    {
        "id": "94bfc0a0fe7f9c4b",
        "type": "function",
        "z": "9f71a4ca83e0be1b",
        "name": "SELECT",
        "func": "msg.topic = \"SELECT * FROM data ORDER BY datetime DESC LIMIT 0;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 200,
        "wires": [
            [
                "daa1fd65d36f5990"
            ]
        ]
    },
    {
        "id": "72f448f16ad80fdf",
        "type": "function",
        "z": "9f71a4ca83e0be1b",
        "name": "CREATE TABLE",
        "func": "msg.topic = `CREATE TABLE IF NOT EXISTS data (datetime datetime, temp decimal(4,1), humidity int);`\n            + `CREATE TABLE IF NOT EXISTS servo (id int, status bool, UNIQUE (id));`\n            + `INSERT IGNORE INTO servo (id, status) VALUES (1, 0);`;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 140,
        "wires": [
            [
                "2cb819b933614b67"
            ]
        ]
    },
    {
        "id": "80dbcfb5f2161f30",
        "type": "inject",
        "z": "853989b43beb79a4",
        "name": "on startup",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "0e9153550d1b2be3"
            ]
        ]
    },
    {
        "id": "1b1820eba2eadff8",
        "type": "mysql",
        "z": "853989b43beb79a4",
        "mydb": "55bc388994a74c02",
        "name": "MariaDB",
        "x": 400,
        "y": 120,
        "wires": [
            [
                "49b93d89ca8d8128"
            ]
        ]
    },
    {
        "id": "ec44d8eb7f5a689a",
        "type": "debug",
        "z": "853989b43beb79a4",
        "name": "inserted values",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 180,
        "wires": []
    },
    {
        "id": "8a0677ea96659b9d",
        "type": "mysql",
        "z": "853989b43beb79a4",
        "mydb": "55bc388994a74c02",
        "name": "MariaDB",
        "x": 400,
        "y": 180,
        "wires": [
            [
                "ec44d8eb7f5a689a"
            ]
        ]
    },
    {
        "id": "49b93d89ca8d8128",
        "type": "function",
        "z": "853989b43beb79a4",
        "name": "SELECT",
        "func": "msg.topic = \"SELECT * FROM data ORDER BY datetime DESC LIMIT 1;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 180,
        "wires": [
            [
                "8a0677ea96659b9d"
            ]
        ]
    },
    {
        "id": "0e9153550d1b2be3",
        "type": "function",
        "z": "853989b43beb79a4",
        "name": "INSERT",
        "func": "var temp = Math.random() * 45 - 10;\nvar humidity = Math.floor(Math.random() * 101);\n\nmsg.topic = `INSERT INTO data (datetime, temp, humidity) VALUES (UTC_TIMESTAMP(), ${temp}, ${humidity})`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 120,
        "wires": [
            [
                "1b1820eba2eadff8"
            ]
        ]
    },
    {
        "id": "6313927fc02cfb67",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "g": "80147cce57e9dcd0",
        "name": "CurrentBuffer",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 140,
        "wires": []
    },
    {
        "id": "fee1f8d519c0059b",
        "type": "chatbot-telegram-receive",
        "z": "f6f2187d.f17ca8",
        "bot": "aaaaebd82a7f4306",
        "botProduction": "aaaaebd82a7f4306",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "a4406974266b7e18"
            ]
        ]
    },
    {
        "id": "97322ec063f560b6",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "g": "80147cce57e9dcd0",
        "name": "",
        "topic": "LM35/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "d880f4faf167b53f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "96e8f86f9889cad6"
            ]
        ]
    },
    {
        "id": "96e8f86f9889cad6",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "g": "80147cce57e9dcd0",
        "name": "createBuffer",
        "func": "msg.payload.temperature = Math.round(msg.payload.temperature);\n\nflow.set(\"mydata\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 140,
        "wires": [
            [
                "6313927fc02cfb67"
            ]
        ]
    },
    {
        "id": "a4406974266b7e18",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "location",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 90,
        "y": 360,
        "wires": [
            [
                "f1011432c91d11af"
            ],
            [
                "d9187248cca46bdf"
            ]
        ]
    },
    {
        "id": "f1011432c91d11af",
        "type": "chatbot-rules",
        "z": "f6f2187d.f17ca8",
        "name": "Command is ...",
        "rules": [
            {
                "type": "command",
                "command": "/openwindow"
            },
            {
                "type": "command",
                "command": "/closewindow"
            },
            {
                "type": "command",
                "command": "/temperature"
            }
        ],
        "outputs": 3,
        "x": 260,
        "y": 360,
        "wires": [
            [
                "384edf4b6b4e8a92"
            ],
            [
                "551547a431b6d41f"
            ],
            [
                "f267f9c48fb8d15d"
            ]
        ]
    },
    {
        "id": "f3547f6542d13146",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "g": "80147cce57e9dcd0",
        "name": "MQTT-Daten in Buffer speichern, um sie in Telegram zu versenden",
        "info": "",
        "x": 280,
        "y": 60,
        "wires": []
    },
    {
        "id": "de5a47c221b90108",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "g": "80147cce57e9dcd0",
        "name": "Grund: Telegram-Bot soll auch ohne Datenbank funktionieren",
        "info": "",
        "x": 260,
        "y": 100,
        "wires": []
    },
    {
        "id": "baee4e03d00eccda",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Telegram-Bot akzeptiert: /temperature als Text oder einen gesendeten Standort",
        "info": "",
        "x": 320,
        "y": 240,
        "wires": []
    },
    {
        "id": "f267f9c48fb8d15d",
        "type": "subflow:60a563125e5b0d46",
        "z": "f6f2187d.f17ca8",
        "name": "... /temperature",
        "x": 460,
        "y": 400,
        "wires": []
    },
    {
        "id": "d9187248cca46bdf",
        "type": "subflow:0f8381518f6a674a",
        "z": "f6f2187d.f17ca8",
        "name": "Wetter für Standort senden",
        "x": 340,
        "y": 460,
        "wires": []
    },
    {
        "id": "384edf4b6b4e8a92",
        "type": "subflow:48c7bb8cccf54c05",
        "z": "f6f2187d.f17ca8",
        "name": "... /openwindow",
        "x": 460,
        "y": 320,
        "wires": []
    },
    {
        "id": "551547a431b6d41f",
        "type": "subflow:398b474e6e30f016",
        "z": "f6f2187d.f17ca8",
        "name": "... /closewindow",
        "x": 460,
        "y": 360,
        "wires": []
    },
    {
        "id": "07ceb05b0b1195ea",
        "type": "mqtt in",
        "z": "55cdbbae8fc6c215",
        "name": "",
        "topic": "LM35/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "d880f4faf167b53f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "691837b0c886006e",
                "6239720a629f32fb"
            ]
        ]
    },
    {
        "id": "691837b0c886006e",
        "type": "debug",
        "z": "55cdbbae8fc6c215",
        "name": "MQTT payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 120,
        "wires": []
    },
    {
        "id": "45c7522ecbb427e6",
        "type": "mysql",
        "z": "55cdbbae8fc6c215",
        "mydb": "55bc388994a74c02",
        "name": "MariaDB",
        "x": 440,
        "y": 200,
        "wires": [
            [
                "8e411fc65978e445"
            ]
        ]
    },
    {
        "id": "2e338baa79d4d15b",
        "type": "debug",
        "z": "55cdbbae8fc6c215",
        "name": "inserted values",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 260,
        "wires": []
    },
    {
        "id": "b0638143c9a50bbd",
        "type": "mysql",
        "z": "55cdbbae8fc6c215",
        "mydb": "55bc388994a74c02",
        "name": "MariaDB",
        "x": 440,
        "y": 260,
        "wires": [
            [
                "2e338baa79d4d15b"
            ]
        ]
    },
    {
        "id": "8e411fc65978e445",
        "type": "function",
        "z": "55cdbbae8fc6c215",
        "name": "SELECT",
        "func": "msg.topic = \"SELECT * FROM data ORDER BY datetime DESC LIMIT 1;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 260,
        "wires": [
            [
                "b0638143c9a50bbd"
            ]
        ]
    },
    {
        "id": "6239720a629f32fb",
        "type": "function",
        "z": "55cdbbae8fc6c215",
        "name": "INSERT",
        "func": "var temp = msg.payload.temperature;\n\n// da es keinen Feuchtigkeitssensor gibt, Werte simulieren\nvar humidity = Math.floor(Math.abs(msg.payload.temperature)) + 25;\n\nif (humidity > 100) {\n    humidity = humidity - 25;\n}\n\nmsg.topic = `INSERT INTO data (datetime, temp, humidity) VALUES (UTC_TIMESTAMP(), ${temp}, ${humidity})`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 200,
        "wires": [
            [
                "45c7522ecbb427e6"
            ]
        ]
    }
]